<ngx-dynamic-carousel [mainContentTemplate]="mainContentTemplate" [items]="items" [visibleCount]="1"
  [leftArrowTemplate]="leftArrowTemplate" [rightArrowtemplate]="rightArrowTemplate">
  <ng-template let-item #mainContentTemplate>
    <div class="p-4 border border-gray-500">
      <img [src]="item.imageUrl">
      <span class="font-semibold">
        {{ item.name }}
      </span>
    </div>
  </ng-template> 
  <ng-template #leftArrowTemplate>Left</ng-template>
  <ng-template #rightArrowTemplate>Right</ng-template>
</ngx-dynamic-carousel>

